.container {
  padding: 0 1rem;
}

.containerabout {
  padding: 0 1rem;
  background-color: red;;
}

.main {
 
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.image {
  visibility: inherit;
  position: fixed;
  top:200px;
  left:200px;
  bottom: 0px;
  right: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  z-index:-2;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  }

.title a {
  
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  color:rgba(195, 195, 195, 0.338);
}

.title li{
  list-style-type: none;
  display:inline;
  margin: 0;
  margin-right:1em;
  font-weight:normal;
  
  text-align:left;

}


.artist a {
  
  text-decoration: none;
}

.artist a:hover,
.artist a:focus,
.artist a:active {
  text-decoration: underline;
  color:grey;
}

.abouttext{
  list-style-type: none;
  text-align:left;
  margin: 0;
  line-height: 1.2;
  font-size: 5em;
  font-weight:normal;
  
}


.artist{
  list-style-type: none;
  text-align:left;
  margin: 0;
  line-height: 1.2;
  font-size: 7.5em;
  font-weight:normal;
  
}

@media (max-width: 1175px) {
  .artist {
    font-size:7em;
    line-height: 1.4;
    
  }

  .title li {
    margin-right:1em;
    line-height: 1.4;
  }

 
}

@media (max-width: 1112px) {
  .artist {
    font-size:6.5em;
    line-height: 1.4;
    
  }

  .title li {
    margin-right:1em;
    line-height: 1.4;
  }

 
}

@media (max-width: 1030px) {
  .artist {
    font-size:5.5em;
    line-height: 1.4;
    
  }

  .title li {
    margin-right:1em;
    line-height: 1.4;
  }

 
}

@media (max-width: 880px) {
  .artist {
    font-size:4.5em;
    line-height: 1.4;
    
  }

  .title li {
    margin-right:1em;
    line-height: 1.4;
  }

 
}

@media (max-width: 731px) {
  .artist  {
    font-size:3.5em;
    line-height: 1.4;
    
  }

  .title li {
    margin-right:1em;
    line-height: 1.4;
  }

 
}


@media (max-width: 600px) {
  .artist  {
    font-size:4em;
    line-height: 1.4;
    transform: rotate(90deg);
    margin-top:200px;
    margin-left:-130px;
  }

  .title li {
    
    
    
  
  }

 
}
