html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-weight:normal;
  text-align:left;
  color:rgba(195, 195, 195, 0.338);
}

a {
  color: inherit;
  text-decoration: none;
  font-weight:normal;
  line-height: 1.4;
  font-size: 1rem;
  
}

* {
  box-sizing: border-box;
}

@media (max-width: 1030px) {
  a {
    
    line-height: 1.4;
    text-align:left;
    
  }

 
}

@media (max-width: 880px) {
  a {
    
    line-height: 1.4;
    text-align:left;
    
  }

 
}

@media (max-width: 731px) {
  a {
    
    line-height: 1.4;
    text-align:left;
    
  }

 
}

@media (max-width: 600px) {
  a {
   font-size:0.8rem;
    line-height: 1.4;
    text-align:left;
    
  }

 
}